{{ template "layout/default" . }}
{{ define "content" }}
{{ template "shim/sort" .Page }}
<div class="is-flex is-flex-wrap-wrap is-justify-content-center">
  {{ range $att := .Attachments }}
  <div class="card m-2">
    {{ if $att.IsImage }}
    <div class="card-image">
      <figure class="image is-16by9">
        <img src="{{ dataLinkAttachment $att }}" alt="{{ $att.Name }}">
      </figure>
    </div>
    {{ end }}
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{ $att.Name}}</p>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="{{ envelopeLinkID $att.MessageID }}?tab=attachments" class="card-footer-item">Envelope</a>
    </footer>
  </div>
  {{ end }}
</div>
{{ template "shim/pagination" .Page }}
{{ end }}