{{ template "layout/default" . }}
{{ define "content" }}
<h1 class="title">Attachments</h1>
{{ template "shim/filter" .Page }}
<div class="columns is-multiline">
  {{ range $att := .Attachments }}
  <div class="column is-4">
    <div class="card">
      {{ $href := dataLinkAttachment $att }}
      {{ if $att.IsImage }}
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="{{ $href }}" alt="{{ $att.Name }}">
        </figure>
      </div>
      {{ end }}
      <footer class="card-footer">
        <div class="card-footer-item is-clipped">
          <a href="{{ $href }}" class="is-clipped">
            {{ $att.Name }}
          </a>
        </div>
        <a href='{{ envelopeLinkID $att.MessageID }}{{ tabQuery "attachments" }}' class="card-footer-item">Envelope</a>
      </footer>
    </div>
  </div>
  {{ end }}
</div>
{{ template "shim/pagination" .Page }}
{{ end }}