{{ template "layout/default" . }}
{{ define "content" }}
<h1 class="title">Endpoints</h1>
<div class="table-container">
  <table class="table is-hoverable is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .Endpoints }}
      <tr>
        <td>
          {{ .Name }}
        </td>
        <td>
          {{ .Type }}
        </td>
        <td>
          <form action="{{ endpointTestLinkQuery . }}" method="post">
            <button class="button is-primary">Test</button>
          </form>
        </td>
      </tr>
      {{ end }}
  </table>
</div>
</tbody>
{{ end }}