{{ template "layout/default" . }}
{{ define "content" }}
{{ $hasAttachments := ne (len .Envelope.Attachments) 0 }}
<div class="buttons">
  <a class="button is-danger" href="?action=delete">
    Delete
  </a>
</div>
<table class="table">
  <tbody>
    <tr>
      <td><b>ID</b></td>
      <td>{{ .Envelope.Message.ID }}</td>
    </tr>
    <tr>
      <td><b>Subject</b></td>
      <td>{{ .Envelope.Message.Subject }}</td>
    </tr>
    <tr>
      <td><b>Received</b></td>
      <td>{{ formatDate .Envelope.Message.CreatedAt }}</td>
    </tr>
    <tr>
      <td><b>Date</b></td>
      <td>{{ .Envelope.Message.Date }}</td>
    </tr>
    <tr>
      <td><b>From</b></td>
      <td>{{ .Envelope.Message.From }}</td>
    </tr>
    {{ range $to, $ := .Envelope.Message.To }}
    <tr>
      <td><b>To</b></td>
      <td>{{ $to }}</td>
    </tr>
    {{ end }}
    {{ range $att := .Envelope.Attachments }}
    <tr>
      <td><b>Attachment</b></td>
      <td>
        <a href="{{ dataLink $att }}">
          {{ $att.Name }}
        </a>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
<div class="tabs is-boxed" id="tab">
  <ul>
    <li {{ if or (eq .Tab "text" ) (eq .Tab "" ) }} class="is-active" {{ end }}>
      <a href="?tab=text#tab">
        <span>Text</span>
      </a>
    </li>
    {{ if .Envelope.Message.HTML }}
    <li>
      <a href="{{ envelopeLink .Envelope }}/html">
        <span>HTML</span>
      </a>
    </li>
    {{ end }}
    {{ if $hasAttachments }}
    <li {{ if eq .Tab "attachments" }} class="is-active" {{ end }}>
      <a href="?tab=attachments#tab">
        <span class="mr-2">Attachments</span>
        <span class="tag is-info">{{ len .Envelope.Attachments }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ if or (eq .Tab "text") (eq .Tab "") }}
<pre>{{ .Envelope.Message.Text }}</pre>
{{ else if and (eq .Tab "attachments" ) $hasAttachments }}
{{ range $att := .Envelope.Attachments }}
<div class="block">
  {{ if $att.IsImage }}
  <figure class="image">
    <img src="{{ dataLink $att }}" alt="{{ $att.Name }}">
  </figure>
  {{ else }}
  <a href="{{ dataLink $att }}">
    {{ $att.Name }}
  </a>
  {{ end }}
</div>
{{ end }}
{{ end }}
{{ end }}