{{ template "layout/default" . }}
{{ define "content" }}
{{ $hasAttachments := ne (len .Envelope.Attachments) 0 }}
<div class="buttons">
  <a class="button is-danger" href="?action=delete">
    Delete
  </a>
</div>
<table class="table">
  <tbody>
    <tr>
      <td><b>ID</b></td>
      <td>{{ .Envelope.Message.ID }}</td>
    </tr>
    <tr>
      <td><b>Subject</b></td>
      <td>{{ .Envelope.Message.Subject }}</td>
    </tr>
    <tr>
      <td><b>Date</b></td>
      <td>{{ formatDate .Envelope.Message.CreatedAt }}</td>
    </tr>
    <tr>
      <td><b>From</b></td>
      <td>{{ .Envelope.Message.From }}</td>
    </tr>
    {{ range $to, $ := .Envelope.Message.To }}
    <tr>
      <td><b>To</b></td>
      <td>{{ $to }}</td>
    </tr>
    {{ end }}
    <tr>
      <td><b>Attachments</b></td>
      <td>{{ len .Envelope.Attachments }}</td>
    </tr>
  </tbody>
</table>
<div class="tabs is-boxed">
  <ul>
    <li {{ if or (eq .Tab "text" ) (eq .Tab "" ) }} class="is-active" {{ end }}>
      <a href="?tab=text">
        <span>Text</span>
      </a>
    </li>
    {{ if .Envelope.Message.HTML }}
    <li {{ if eq .Tab "html" }} class="is-active" {{ end }}>
      <a href="?tab=html">
        <span>HTML</span>
      </a>
    </li>
    {{ end }}
    {{ if $hasAttachments }}
    <li {{ if eq .Tab "attachments" }} class="is-active" {{ end }}>
      <a href="?tab=attachments">
        <span>Attachments</span>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ if or (eq .Tab "text") (eq .Tab "") }}
<pre>{{ .Envelope.Message.Text }}</pre>
{{ else if and (eq .Tab "html") .Envelope.Message.HTML }}
{{ .Envelope.Message.HTML }}
{{ else if and (eq .Tab "attachments" ) $hasAttachments }}
{{ range $att := .Envelope.Attachments }}
{{ if $att.IsImage }}
<figure class="image">
  <img src="{{ dataLink $att }}" alt="{{ $att.Name }}">
</figure>
{{ else }}
<a href="{{ dataLink $att }}">
  {{ $att.Name }}
</a>
{{ end }}
{{ end }}
{{ end }}
{{ end }}