{{ template "layout/default" . }}
{{ define "content" }}
<a class="button" href="{{ toggleAscendingLink .Page }}">
  {{ if .Page.Ascending }}Ascending{{ else }}Descending{{ end }}
</a>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Subject</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Envelopes }}
    <tr>
      <td>
        <a href="{{ envelopeLink . }}">
          {{ .Message.ID }}
        </a>
      </td>
      <td>
        {{ .Message.Subject }}
      </td>
      <td>{{ formatDate .Message.CreatedAt }}</td>
    </tr>
    {{ end }}
</table>
{{ template "shim/pagination" . }}
</tbody>
{{ end }}