{{ define "message/card" }}
<div class="card">
  {{ if .Attachments }}
  <div class="card-image">
    <figure class="image is-16by9">
      {{ template "attachment/image" (index .Attachments 0) }}
    </figure>
  </div>
  {{ end }}
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <div class="mb-1">
          {{ template "message/subject" . }}
          {{ template "message/tag-status" . }}
          {{ template "message/tag-date" . }}
          {{ template "message/tag-attachments" . }}
        </div>
        {{ template "message/toolbar" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}