{{ template "layout/default" . }}
{{ define "content" }}
<h1 class="title">Attachments</h1>
{{ template "shim/filter" .Page }}
<div class="columns is-multiline">
  {{ range $att := .Attachments }}
  <div class="column is-4">
    <div class="card">
      {{ $href := dataLinkAttachment $att }}
      {{ if $att.IsImage }}
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="{{ $href }}" alt="{{ $att.Name }}">
        </figure>
      </div>
      {{ end }}
      <div class="card-content is-flex is-flex-wrap-wrap">
        <div class="is-flex-grow-1 is-clipped">
          <a href="{{ $href }}">{{ $att.Name }}</a>
        </div>
        <a href='{{ envelopeLinkID $att.MessageID }}{{ tabQuery "attachments" }}'>
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-envelope"></i>
            </span>
            <span>Envelope</span>
          </span>
        </a>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ template "shim/pagination" .Page }}
{{ end }}