{{ template "layout/default" . }}
{{ define "content" }}
<h1 class="title">Endpoints</h1>
<div class="columns is-multiline">
  {{ range .Endpoints }}
  <div class="column is-6">
    <article class="box media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ .Name }}</strong>
            <small>
              <span class="icon-text">
                <span class="icon">
                  <i class="{{ endpointIcon . }}"></i>
                </span>
                <span>{{ .Type }}</span>
              </span>
            </small>
          <pre>{{ .TextTemplate }}</pre>
          </p>
        </div>
        <form action="{{ endpointTestLinkQuery . }}" method="post">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-primary">
                    Test
                  </button>
                </div>
              </div>
              <div class="field">
                <label class="checkbox" disabled>
                  <input type="checkbox" disabled {{ if .TextDisable }}checked{{ end }}> Text Disable
                </label>
              </div>
              <div class="field">
                <label class="checkbox" disabled>
                  <input type="checkbox" disabled {{ if .AttachmentsDisable }}checked{{ end }}> Attachments Disable
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </article>
  </div>
  {{ end }}
</div>
</tbody>
{{ end }}