{{ template "layout/default" . }}
{{ define "content" }}
{{ $hasAttachments := ne (len .Envelope.Attachments) 0 }}
<h1 class="title">Envelope</h1>
<div class="table-container">
  <table class="table">
    <tbody>
      <tr>
        <td><b>ID</b></td>
        <td>{{ .Envelope.Message.ID }}</td>
      </tr>
      <tr>
        <td><b>Received Date</b></td>
        <td>{{ timeFormat .Envelope.Message.CreatedAt }}</td>
      </tr>
      <tr>
        <td><b>Date</b></td>
        <td>{{ timeFormat .Envelope.Message.Date }}</td>
      </tr>
      <tr>
        <td><b>Subject</b></td>
        <td>{{ .Envelope.Message.Subject }}</td>
      </tr>
      <tr>
        <td><b>From</b></td>
        <td>{{ .Envelope.Message.From }}</td>
      </tr>
      {{ range $to, $ := .Envelope.Message.To }}
      <tr>
        <td><b>To</b></td>
        <td>{{ $to }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<div class="columns">
  <div class="column">
    <a class="button is-danger" href="?action=delete">
      Delete
    </a>
  </div>
  <div class="column is-narrow">
    <form action="{{ envelopeSendLink .Envelope }}" method="POST" id="endpointForm">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Endpoint</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <select name="endpoint" form="endpointForm">
                  {{ range .Endpoints }}
                  <option>
                    <span>{{ .Name }}</span>
                  </option>
                  {{ end }}
                </select>
              </div>
            </div>
          </div>
          <div class="field is-narrow">
            <div class="control">
              <button class="button is-link">Send</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="tabs is-boxed" id="tab">
  <ul>
    <li {{ if or (eq .Tab "text" ) (eq .Tab "" ) }} class="is-active" {{ end }}>
      <a href='{{ tabQuery "text" }}'>
        <span>Text</span>
      </a>
    </li>
    {{ if .Envelope.Message.HTML }}
    <li>
      <a href="{{ envelopeHTMLLink .Envelope }}">
        <span>HTML</span>
      </a>
    </li>
    {{ end }}
    {{ if $hasAttachments }}
    <li {{ if eq .Tab "attachments" }} class="is-active" {{ end }}>
      <a href='{{ tabQuery "attachments" }}'>
        <span class="mr-2">Attachments</span>
        <span class="tag is-info">{{ len .Envelope.Attachments }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ if or (eq .Tab "text") (eq .Tab "") }}
<pre>{{ .Envelope.Message.Text }}</pre>
{{ else if and (eq .Tab "attachments" ) $hasAttachments }}
<div class="columns is-multiline">
  {{ range .Envelope.Attachments }}
  <div class="column is-4">
    {{ template "shim/attachment-card" . }}
  </div>
  {{ end }}
</div>
{{ end }}
{{ end }}