{{ define "message" }}
<div class="m-2">
  <div class="card">
    {{ if .Attachments}}
    <div class="card-image">
      <figure class="image is-16by9">
        {{ template "attachment-image" (index .Attachments 0) }}
      </figure>
    </div>
    {{ end }}
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          {{ template "message-subject" . }}
          {{ template "message-status" . }}
          <span class="tag is-light is-medium">{{ .CreatedAt }}</span>
        </div>
      </div>

      <div class="content">
        <pre>{{ .Text }}</pre>
      </div>
    </div>
  </div>
</div>
{{ end }}