{{ define "shim/paginate" }}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {{ if .HasPrev }}
  <a href="{{ .PrevLink }}" class="pagination-previous">Previous</a>
  {{ end }} {{ if .HasNext }}
  <a href="{{ .NextLink }}" class="pagination-next">Next</a>
  {{ end }}
  <ul class="pagination-list">
    {{ if .HasPrev }}
    <li>
      <a href="{{ .FirstLink }}" class="pagination-link" aria-label="Goto page {{ .PageMin }}">
        {{ .PageMin }}
      </a>
    </li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    {{ end }}
    <li>
      <a class="pagination-link is-current" aria-label="Page {{ .Page }}" aria-current="page">
        {{ .Page }}
      </a>
    </li>
    {{ if .HasNext }}
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li>
      <a class="pagination-link" href="{{ .LastLink }}" aria-label="Goto page {{ .PageMax }}">
        {{ .PageMax }}
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}