{{ define "paginate" }}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {{ if .Paginate.HasPrev }}
  <a href="{{ .Paginate.PrevLink }}" class="pagination-previous">Previous</a>
  {{ end }} {{ if .Paginate.HasNext }}
  <a href="{{ .Paginate.NextLink }}" class="pagination-next">Next</a>
  {{ end }}
  <ul class="pagination-list">
    {{ if .Paginate.HasPrev }}
    <li>
      <a href="{{ .Paginate.FirstLink }}" class="pagination-link" aria-label="Goto page {{ .Paginate.PageMin }}">
        {{ .Paginate.PageMin }}
      </a>
    </li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    {{ end }}
    <li>
      <a class="pagination-link is-current" aria-label="Page {{ .Paginate.Page }}" aria-current="page">
        {{ .Paginate.Page }}
      </a>
    </li>
    {{ if .Paginate.HasNext }}
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li>
      <a class="pagination-link" href="{{ .Paginate.LastLink }}" aria-label="Goto page {{ .Paginate.PageMax }}">
        {{ .Paginate.PageMax }}
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}