{{ define "shim/pagination" }}
<nav class="pagination" role="navigation" aria-label="pagination">
  {{ if .Prev }}
  <a class="pagination-previous" href="{{ pageLink . .Prev }}">Previous</a>
  {{ end }}
  {{ if .Next }}
  <a class="pagination-next" href="{{ pageLink . .Next }}">Next</a>
  {{ end }}
  <ul class="pagination-list">
    {{ if and (ne .Min .Page) (ne .Min .Prev) }}
    <li>
      <a class="pagination-link" aria-label="Goto page {{ .Min }}" href="{{ pageLink . .Min }}">
        {{ .Min }}
      </a>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    {{ end }}
    {{ if .Prev }}
    <li>
      <a class="pagination-link" aria-label="Goto page {{ .Prev }}" href="{{ pageLink . .Prev }}">
        {{ .Prev }}
      </a>
    </li>
    {{ end }}
    <li>
      <a class="pagination-link is-current" aria-label="Page {{ .Page }}" aria-current="page"
        href="{{ pageLink . .Page }}">
        {{ .Page }}
      </a>
    </li>
    {{ if .Next }}
    <li>
      <a class="pagination-link" aria-label="Goto page {{ .Next }}" href="{{ pageLink . .Next }}">
        {{ .Next }}
      </a>
    </li>
    {{ end }}
    {{ if and (ne .Max .Page) (ne .Max .Next) }}
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page {{ .Max }}" href="{{ pageLink . .Max }}">
        {{ .Max }}
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}