{{ define "shim/sort" }}
<div>
  <a class="button" href="{{ pageToggleAscendingLink . }}">
    {{ if .Ascending }}Ascending{{ else }}Descending{{ end }}
  </a>
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-limit">
        <span>{{ .Limit }}</span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu-lmit" role="menu">
      <div class="dropdown-content">
        <a href="{{ pageLimitLink . 10 }}" class="dropdown-item">
          10
        </a>
        <a href="{{ pageLimitLink . 25 }}" class="dropdown-item">
          25
        </a>
        <a href="{{ pageLimitLink . 50 }}" class="dropdown-item">
          50
        </a>
        <a href="{{ pageLimitLink . 100 }}" class="dropdown-item">
          100
        </a>
      </div>
    </div>
  </div>
</div>
{{ end }}