<figure>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mime</th>
      </tr>
    </thead>
    <tbody>
      {{range $val := .}}
      <tr>
        <td>
          <a href="/files/{{$val.FileName}}">{{$val.ID}}</a>
        </td>
        <td>
          <a href="/files/{{$val.FileName}}">{{$val.Name}}</a>
        </td>
        <td>
          <a href="/files/{{$val.FileName}}">{{$val.Mime}}</a>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</figure>
