<div class="container-fluid">
  <nav>
    <ul>
      <li>
        <a href="/" class="contrast">
          <strong>SMTPBridge</strong>
        </a>
      </li>
    </ul>
    <ul>
      <li><a href="/endpoints" class="contrast">Endpoints</a></li>
      <li><a href="/rules" class="contrast">Rules</a></li>
      <li>
        <details role="list" dir="rtl">
          <summary aria-haspopup="listbox" role="link" class="contrast">
            Menu
          </summary>
          <ul role="listbox">
            <li><a href="/envelopes">Envelopes</a></li>
            <li><a href="/envelopes/new">New Envelope</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</div>
