<table hx-trigger="every 5s, databaseVacuum from:body" hx-get="/p/storage-table" hx-swap="outerHTML">
  <tbody>
    <tr>
      <th scope="row"><strong>Envelope Count</strong></th>
      <td>{{.Storage.EnvelopeCount}}</td>
    </tr>
    <tr>
      <th scope="row"><strong>Attachment Count</strong></th>
      <td>{{.Storage.AttachmentCount}}</td>
    </tr>
    <tr>
      <th scope="row"><strong>Attachment Size</strong></th>
      <td>{{bytesHumanize .Storage.AttachmentSize}}</td>
    </tr>
    <tr>
      <th scope="row"><strong>Database Size</strong></th>
      <td>{{bytesHumanize .Storage.DatabaseSize}}</td>
    </tr>
  </tbody>
</table>
