{{template "partials/header" .}}

<main class="container">
  <section>
    <hgroup>
      <h2>Attachments</h2>
      <h2>
        Seen {{.AttachmentsPageResult.Seen}} of {{.AttachmentsPageResult.TotalItems}}
        and showing {{.AttachmentsPageResult.PerPage}}.
      </h2>
    </hgroup>

    <nav>
      <ul></ul>
      <ul>
        <li class="flex">
          <a href='/attachments?{{query .Queries "page" .AttachmentsPageResult.Previous }}' role="button" {{if not
            .AttachmentsPageResult.HasPrevious}} disabled {{end}} aria-label="Previous" class="flex flex-items-center">
            <div class=" i-ri-arrow-left-double-fill"></div>
          </a>
        </li>
        <li>
          <a href="#" role="button" class="outline">{{.AttachmentsPageResult.Page}} /
            {{.AttachmentsPageResult.TotalPages}}</a>
        </li>
        <li class="flex">
          <a href='/attachments?{{query .Queries "page" .AttachmentsPageResult.Next }}' role="button" {{if not
            .AttachmentsPageResult.HasNext}} disabled {{end}} aria-label="Next" class="flex flex-items-center">
            <div class="i-ri-arrow-right-double-fill"></div>
          </a>
        </li>
      </ul>
    </nav>

    <details>
      <summary>Advanced</summary>

      <hr />

      <form>
        <fieldset>
          <label for="perPage">
            Per page
            <select id="perPage" name="perPage">
              <option value="5" {{if eq .AttachmentsPageResult.PerPage 5}} selected {{end}}>
                5
              </option>
              <option value="10" {{if eq .AttachmentsPageResult.PerPage 10}} selected {{end}}>
                10
              </option>
              <option value="25" {{if eq .AttachmentsPageResult.PerPage 25}} selected {{end}}>
                25
              </option>
              <option value="100" {{if eq .AttachmentsPageResult.PerPage 100}} selected {{end}}>
                100
              </option>
            </select>
          </label>

          <label for="ascending">
            <legend>Order</legend>
            <input type="checkbox" id="ascending" name="ascending" role="switch" {{ if .AttachmentsFilter.Ascending}}
              checked {{end}} />
            Ascending
          </label>
        </fieldset>

        <div class="grid">
          <div>
            <input type="submit" value="Apply" />
          </div>
          <div>
            <a href="/attachments" role="button" class="contrast w-full">
              Reset
            </a>
          </div>
        </div>
      </form>
    </details>

    {{range $val := .Attachments}}
    {{template "partials/attachment-card" $val}}
    <hr>
    {{end}}

    {{if .Attachments}}
    <nav>
      <ul></ul>
      <ul>
        <li class="flex">
          <a href='/attachments?{{query .Queries "page" .AttachmentsPageResult.Previous }}' role="button" {{if not
            .AttachmentsPageResult.HasPrevious}} disabled {{end}} aria-label="Previous" class="flex flex-items-center">
            <div class=" i-ri-arrow-left-double-fill"></div>
          </a>
        </li>
        <li>
          <a href="#" role="button" class="outline">{{.AttachmentsPageResult.Page}} /
            {{.AttachmentsPageResult.TotalPages}}</a>
        </li>
        <li class="flex">
          <a href='/attachments?{{query .Queries "page" .AttachmentsPageResult.Next }}' role="button" {{if not
            .AttachmentsPageResult.HasNext}} disabled {{end}} aria-label="Next" class="flex flex-items-center">
            <div class="i-ri-arrow-right-double-fill"></div>
          </a>
        </li>
      </ul>
    </nav>
    {{end}}
  </section>
</main>

{{template "partials/footer" .}}
