{{template "p/header" .}}

<main class="container">
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="/envelopes">Envelopes</a></li>
      <li>
        <a href="/envelopes/{{.Envelope.Message.ID}}">{{.Envelope.Message.ID}}</a>
      </li>
    </ul>
  </nav>

  <section id="message">
    <h2><a href="#message">Message</a></h2>
    <figure>
      <table>
        <tbody>
          <tr>
            <th scope="row"><strong>ID</strong></th>
            <td>{{.Envelope.Message.ID}}</td>
          </tr>
          <tr>
            <th scope="row"><strong>Created At</strong></th>
            <td>{{timeFormat .Envelope.Message.CreatedAt}}</td>
          </tr>
          <tr>
            <th scope="row"><strong>Date</strong></th>
            <td>{{timeFormat .Envelope.Message.Date}}</td>
          </tr>
          <tr>
            <th scope="row"><strong>Subject</strong></th>
            <td>{{.Envelope.Message.Subject}}</td>
          </tr>
          <tr>
            <th scope="row"><strong>From</strong></th>
            <td>{{.Envelope.Message.From}}</td>
          </tr>
          {{range $val := .Envelope.Message.To}}
          <tr>
            <th scope="row"><strong>To</strong></th>
            <td>{{$val}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </figure>

    <button class="contrast" hx-delete="/envelopes/{{.Envelope.Message.ID}}"
      hx-confirm="Are you sure you wish to delete this envelope?">
      Delete Envelope
    </button>
  </section>

  {{if .Envelope.Attachments}}
  <section id="attachments">
    <h2><a href="#attachments">Attachments</a></h2>
    {{range $val := .Envelope.Attachments}}
    {{template "p/attachment-card" $val}}
    <hr>
    {{end}}
  </section>
  {{end}}

  <section id="endpoints">
    <h2><a href="#endpoints">Endpoints</a></h2>
    <form method="post" action="/send" hx-post="/send">
      <input type="hidden" id="envelope" name="envelope" value="{{.Envelope.Message.ID}}">
      <label for="endpoint">
        Endpoints
        <select id="endpoint" name="endpoint">
          {{range $val := .Endpoints}}
          <option value="{{$val.ID}}">{{$val.Name}}</option>
          {{end}}
        </select>
      </label>
      <button type="submit" data-loading-disable data-loading-aria-busy>Send Envelope</button>
    </form>
  </section>

  {{if .Envelope.Message.Text}}
  <section id="text">
    <h2>
      <a href="#text">Text</a>
    </h2>
    <pre>{{.Envelope.Message.Text}}</pre>
  </section>
  {{end}} {{if .Envelope.Message.HTML}}
  <section id="html">
    <h2><a href="#html">HTML</a></h2>
    <iframe src="/envelopes/{{.Envelope.Message.ID}}/html" sandbox="" class="w-full h-screen">
    </iframe>
  </section>
  {{end}}
</main>

{{template "p/footer" .}}
