{{template "p/header" .}}

<main class="container">
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="/envelopes">Envelopes</a></li>
      <li><a href="/envelopes/new">New</a></li>
    </ul>
  </nav>

  <h2>New Envelope</h2>

  <form method="post" enctype="multipart/form-data">
    <label for="subject">
      Subject
      <input type="text" id="subject" name="subject" placeholder="Subject" />
    </label>

    <div class="grid">
      <label for="from">
        From
        <input type="text" id="from" name="from" placeholder="From" />
      </label>

      <label for="to">
        To
        <input type="text" id="to" name="to" placeholder="To" />
      </label>
    </div>

    <label for="body">
      Body
      <textarea id="body" name="body" placeholder="Body"></textarea>
    </label>

    <label for="attachments">
      Attachments
      <input type="file" id="attachments" name="attachments" multiple />
    </label>

    <button type="submit">Create Envelope</button>
  </form>
</main>

{{template "p/footer" .}}
