{{template "p/header" .}}

<main class="container">
  <section>
    <hgroup>
      <h2>Envelopes</h2>
      <h2>
        Seen {{.MessagesPageResult.Seen}} of {{.MessagesPageResult.TotalItems}}
        and showing {{.MessagesPageResult.PerPage}}
      </h2>
    </hgroup>

    <div class="grid">
      <nav>
        <ul>
          <li>
            <a href="/envelopes/new" role="button" aria-label="New" title="New">
              <div class="i-ri-add-fill h-6 w-6"></div>
            </a>
          </li>
        </ul>
      </nav>
      <nav>
        <ul></ul>
        <ul>
          <li class="flex">
            <a href='/envelopes?{{query .Queries "page" .MessagesPageResult.Previous }}' role="button" {{if not
              .MessagesPageResult.HasPrevious}} disabled {{end}} aria-label="Previous" class="flex flex-items-center">
              <div class=" i-ri-arrow-left-double-fill"></div>
            </a>
          </li>
          <li>
            <a href="#" role="button" class="outline">{{.MessagesPageResult.Page}} /
              {{.MessagesPageResult.TotalPages}}</a>
          </li>
          <li class="flex">
            <a href='/envelopes?{{query .Queries "page" .MessagesPageResult.Next }}' role="button" {{if not
              .MessagesPageResult.HasNext}} disabled {{end}} aria-label="Next" class="flex flex-items-center">
              <div class="i-ri-arrow-right-double-fill"></div>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <details>
      <summary>Advanced</summary>

      <hr />

      <form>
        <fieldset>
          <label for="perPage">
            Per page
            <select id="perPage" name="perPage">
              <option value="5" {{if eq .MessagesPageResult.PerPage 5}} selected {{end}}>
                5
              </option>
              <option value="10" {{if eq .MessagesPageResult.PerPage 10}} selected {{end}}>
                10
              </option>
              <option value="25" {{if eq .MessagesPageResult.PerPage 25}} selected {{end}}>
                25
              </option>
              <option value="100" {{if eq .MessagesPageResult.PerPage 100}} selected {{end}}>
                100
              </option>
            </select>
          </label>

          <label for="ascending">
            <legend>Order</legend>
            <input type="checkbox" id="ascending" name="ascending" role="switch" {{ if .MessagesFilter.Ascending}}
              checked {{end}} />
            Ascending
          </label>
        </fieldset>

        <label for="search">
          Search
          <input type="search" id="search" name="search" placeholder="Search" value="{{.MessagesFilter.Search}}" />
        </label>

        <fieldset>
          <legend>Include in search</legend>
          <div class="grid">
            <label for="search-subject">
              <input type="hidden" value="0" name="-search-subject" />
              <input type="checkbox" id="search-subject" name="search-subject" {{if .MessagesFilter.SearchSubject}}
                checked {{end}} />
              Subject
            </label>
            <label for="search-body">
              <input type="hidden" value="0" name="-search-body" />
              <input type="checkbox" id="search-body" name="search-body" {{if .MessagesFilter.SearchText}} checked
                {{end}} />
              Body
            </label>
          </div>
        </fieldset>

        <div class="grid">
          <div>
            <input type="submit" value="Apply" />
          </div>
          <div>
            <a href="/envelopes" role="button" class="contrast w-full">
              Reset
            </a>
          </div>
        </div>
      </form>
    </details>

    <figure>
      <table role="grid">
        <thead>
          <tr>
            <th>ID</th>
            <th>From</th>
            <th>Subject</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          {{range $val := .Messages}}
          <tr>
            <td>
              <a href="/envelopes/{{$val.ID}}">{{$val.ID}}</a>
            </td>
            <td>
              <a href="/envelopes/{{$val.ID}}">{{$val.From}}</a>
            </td>
            <td>
              <a href="/envelopes/{{$val.ID}}">{{$val.Subject}}</a>
            </td>
            <td>
              <a href="/envelopes/{{$val.ID}}" title="{{timeHumanize $val.CreatedAt}}">{{timeFormat $val.CreatedAt}}</a>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </figure>
  </section>
</main>

{{template "p/footer" .}}
