{{template "p/header" .}}

<main class="container">
  <article>
    <h2>Recent Envelopes</h2>
    <figure>
      {{template "p/recent-envelopes-table" .}}
    </figure>
  </article>

  <article id="storage">
    <h2>Storage</h2>
    <figure>{{template "p/storage-table" .}}</figure>
    <div class="grid">
      <form method="post" action="/vacuum" hx-post="/vacuum" class="pico-form-reset">
        <button data-loading-path="/vacuum" data-loading-disable data-loading-aria-busy
          title="Rebuild database file to take the minimal amount of disk space.">
          Vacuum Database
        </button>
      </form>
      <form method="post" action="/trim" hx-post="/trim" class="pico-form-reset">
        <button hx-post="/trim" data-loading-path="/trim" data-loading-disable data-loading-aria-busy
          title="Apply retention policy against data.">
          Trim Data
        </button>
      </form>
      <button hx-delete="/envelopes" data-loading-path="/envelopes" data-loading-disable data-loading-aria-busy
        hx-confirm="Are you sure you wish to delete all envelopes?" class="contrast">
        Delete Envelopes
      </button>
    </div>
  </article>

  <article>
    <h2>Retention Policy</h2>
    <figure>
      <table>
        <tbody>
          <tr>
            <th scope="row"><strong>Minimum Age</strong></th>
            <td>{{.RetentionPolicy.MinAge}}</td>
          </tr>
          {{if not (eq .RetentionPolicy.EnvelopeCount nil)}}
          <tr>
            <th scope="row"><strong>Total Envelope Count</strong></th>
            <td>{{.RetentionPolicy.EnvelopeCount}}</td>
          </tr>
          {{end}}
          {{if not (eq .RetentionPolicy.EnvelopeAge nil)}}
          <tr>
            <th scope="row"><strong>Maximum Envelope Age</strong></th>
            <td>{{.RetentionPolicy.EnvelopeAge}}</td>
          </tr>
          {{end}}
          {{if not (eq .RetentionPolicy.AttachmentSize nil)}}
          <tr>
            <th scope="row"><strong>Total Attachment Size</strong></th>
            <td>{{bytesHumanize .RetentionPolicy.AttachmentSize}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </figure>
  </article>

  <article>
    <h2>Build</h2>
    <figure>
      <table>
        <tbody>
          <tr>
            <th scope="row"><strong>Built By</strong></th>
            <td>{{build.BuiltBy}}</td>
          </tr>
          <tr>
            <th scope="row"><strong>Commit</strong></th>
            <td><a href="{{build.CommitURL}}">{{build.Commit}}</a></td>
          </tr>
          <tr>
            <th scope="row"><strong>Date</strong></th>
            <td>{{build.Date}}</td>
          </tr>
          <tr>
            <th scope="row"><strong>Version</strong></th>
            <td>{{build.Version}}</td>
          </tr>
        </tbody>
      </table>
    </figure>
  </article>
</main>

{{template "p/footer" .}}
