<main class="container">
  <div class="flex">
    <div class="flex mx-auto">
      <h1>SMTPBridge</h1>
    </div>
  </div>

  <article class="max-w-md mx-auto">
    <h2>Login</h2>
    {{block "form" .}}
    <form method="post" action="/auth" hx-post="/auth" hx-swap="outerHTML">
      <label for="username">
        Username
        <input type="text" id="username" name="username" placeholder="Username" />
      </label>

      <label for="password">
        Password
        <input type="password" id="password" name="password" placeholder="Password" />
      </label>

      <button data-loading-path="/login" data-loading-disable data-loading-aria-busy>
        Log in
      </button>
      {{with .Flash}}
      <h3>
        {{.}}
      </h3>
      {{end}}
    </form>
    {{end}}
  </article>
</main>

{{template "partials/footer" .}}
