<main class="container">
  <div class="flex">
    <div class="flex mx-auto">
      <h1>SMTPBridge</h1>
    </div>
  </div>

  <article class="max-w-md mx-auto">
    <h2>Login</h2>
    <form method="post">
      <label for="username">
        Username
        <input type="text" id="username" name="username" placeholder="Username" />
      </label>

      <label for="password">
        Password
        <input type="text" id="password" name="password" placeholder="Password" />
      </label>

      <button type="submit">Log in</button>
    </form>
  </article>
</main>

{{template "partials/footer" .}}
