{{template "p/header" .}}

<main class="container">
  <h2>Rules</h2>
  {{range $val := .AggregateRules}}
  <article>
    <h3>{{$val.Rule.Name}}</h3>

    <table>
      <tbody>
        <tr>
          <th>
            <em data-tooltip="Endpoint was created internally and cannot be modified.">
              Internal
            </em>
          </th>
          <td>
            <input disabled {{if $val.Rule.Internal}}checked{{end}} type="checkbox" role="switch" />
          </td>
        </tr>
        <tr>
          <th>
            Enable
          </th>
          <td>
            {{template "p/rule-enable-form" $val.Rule}}
          </td>
        </tr>
      </tbody>
    </table>

    <label for="rule-{{$val.Rule.ID}}-expression">
      Expression
      <textarea id="rule-{{$val.Rule.ID}}-expression" rows="4" {{if
        $val.Rule.Internal}}readonly{{end}}>{{$val.Rule.Expression}}</textarea>
    </label>

    <h4>Endpoints</h4>
    <table>
      <tbody>
        {{range $end := $val.Endpoints}}
        <tr>
          <th>
            <a href="/endpoints#endpoint-{{$end.ID}}">
              {{$end.Name}}
            </a>
          </th>
          <td>
            <input {{if $val.Rule.Internal}}disabled{{end}} {{if $end.Enable}}checked{{end}} type="checkbox"
              role="switch" />
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </article>
  {{end}}
</main>

{{template "p/footer" .}}
