{{template "partials/header" .}}

<main class="container">
  <hgroup>
    <h2>Rules</h2>
    <h2>Showing {{len .AggregateRules}} rules.</h2>
  </hgroup>

  {{range $val := .AggregateRules}}
  <section id="rule-{{$val.Rule.ID}}">
    <details>
      <summary class="pico-no-chevron">
        <div class="flex flex-justify-between">
          <div>{{$val.Rule.Name}}</div>
          <div>
            {{block "rule-enable-form" (set $ "Rule" $val.Rule)}}
            <form hx-post="/rules/{{.Rule.ID}}/enable" hx-trigger="change from:find input"
              hx-swap="outerHTML swap:100ms" class="pico-form-reset">
              <input name="enable" {{if .Rule.Enable}}checked{{end}} data-loading-disable type="checkbox"
                role="switch" />
            </form>
            {{end}}
          </div>
        </div>
      </summary>
      <article>
        <div class="flex flex-col gap-4">
          <div class="flex justify-between gap-2">
            <div>
              <em title="Endpoint was created internally and cannot be modified.">
                Internal
              </em>
            </div>
            <div>
              <input disabled {{if $val.Rule.Internal}}checked{{end}} type="checkbox" role="switch" />
            </div>
          </div>

          <label for="rule-{{$val.Rule.ID}}-expression">
            Expression
            <textarea id="rule-{{$val.Rule.ID}}-expression" rows="4" {{if
              $val.Rule.Internal}}readonly{{end}}>{{$val.Rule.Expression}}</textarea>
          </label>
        </div>

        <fieldset>
          <legend>Endpoints</legend>
          <div class="flex flex-col gap-2">
            {{range $end := $val.Endpoints}}
            <div class="flex justify-between gap-2">
              <div class="text-ellipsis truncate">
                <a href="/endpoints#endpoint-{{$end.ID}}">
                  {{$end.Name}}
                </a>
              </div>
              <div>
                <input {{if $val.Rule.Internal}}disabled{{end}} {{if $end.Enable}}checked{{end}} type="checkbox"
                  role="switch" />
              </div>
            </div>
            {{end}}
        </fieldset>
        </div>
      </article>
    </details>
  </section>
  {{end}}
</main>

{{template "partials/footer" .}}
