{{if .IsImage}}
<a href=" /files/{{.FileName}}" class="flex bg-pico-card shadow" hx-boost="false">
  <img src="/files/{{.FileName}}" alt="{{.FileName}}" class="mx-auto">
</a>
{{end}}

<div class="grid mt-2">
  <div class="flex flex-items-center">
    <b class="break-all">
      {{.Name}}
    </b>
  </div>
  <nav>
    <ul></ul>
    <ul class="flex-wrap">
      <li>
        <a role="button" href="/envelopes/{{.MessageID}}" class="flex flex-items-center gap-2">
          <div class="i-ri-mail-fill"></div>Envelope
        </a>
      </li>
      <li>
        <a role="button" href="/files/{{.FileName}}" class="flex flex-items-center gap-2" hx-boost="false">
          <div class="i-ri-download-fill">
          </div>
          Download
        </a>
      </li>
    </ul>
  </nav>
</div>
