{{ define "shim/attachment-card" }}
<div class="card">
  {{ $href := dataLinkAttachment . }}
  {{ if .IsImage }}
  <div class="card-image">
    <figure class="image is-16by9">
      <img src="{{ $href }}" alt="{{ .Name }}">
    </figure>
  </div>
  {{ end }}
  <div class="card-content">
    <div class="columns is-mobile">
      <div class="column is-clipped">
        <a href="{{ $href }}">{{ .Name }}</a>
      </div>
      <div class="column is-narrow">
        <a href='{{ envelopeLinkID .MessageID }}{{ tabQuery "attachments" }}'>
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-envelope"></i>
            </span>
            <span>Envelope</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
{{ end }}