{{ define "shim/nav" }}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        <span><strong>Home</strong></span>
      </span>
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a href="/envelopes" class="navbar-item">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span>Envelopes</span>
        </span>
      </a>
      <a href="/attachments" class="navbar-item">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-paperclip"></i>
          </span>
          <span>Attachments</span>
        </span>
      </a>
      <a href="/endpoints" class="navbar-item">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-location-arrow"></i>
          </span>
          <span>Endpoints</span>
        </span>
      </a>
    </div>
  </div>
</nav>
{{ end }}