<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Messages</h1>
    {{range $msg := .Messages}}
    <div style="border: 2px gray solid; padding-left: 5px; margin-bottom: 5px">
      <div>
        {{ if $msg.Subject }}
        <h2>{{ $msg.Subject }}</h2>
        {{ else }}
        <h2>No Subject</h2>
        {{ end }}
        <span>{{ $msg.Status }}</span>
        <div>
          <code>
            <pre>{{ $msg.Text }}</pre>
          </code>
        </div>

        {{ range $att := $msg.Attachments }}
        <img
          width="300"
          src="{{ $att.Path }}"
          alt="{{ $att.UUID }}"
        />
        {{ end }}
      </div>
    </div>
    {{ end }}
  </body>
</html>
